body {
  margin: 0;
  background: green;
}

header {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  border-bottom: 5px solid #599a68;
  margin-bottom: 60px;
  background-color: green;
}

div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}

div img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  header div {
    margin: 0;
  }
  header {
    padding: 0;
  }
}

@media screen and (min-width: 480px) {
  /**********************
TWO COLUMN LAYOUT
***********************/

  #primary {
    width: 50%;
    float: left;
  }
  #secondary {
    width: 40%;
    float: right;
  }
  /**********************
PAGE:PORTFOLIO
***********************/

  #gallery li {
    width: 28.3333%
  }
  #gallery li:nth-child(4n) {
    clear: left
  }
  /**********************
PAGE:ABOUT
***********************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
}

@media screen and (min-width: 660px) {
  /**********************
  HEADER
  **********************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%
  }
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  header {
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }
}
/**********************
PAGE:PORTFOLIO
***********************/

.gallery li {
  width: 28.3333%
}

.gallery li:nth-child(4n) {
  clear: left
}
