@import "social.css";
/*@import "menu.css";*/

@import "normalize.css";
/* Begin Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End Reset*/
/* Begin Header Text*/

#Top1 {
  text-align: center;
  height: 10%;
  width: auto;
}

#Me {
  width: auto;
  height: auto;
}

#logo {
  width: 25%;
  height: auto;
  left: 0px;
}
/*H1 and H2*/

flogo @font-face {
  font-family: Fsans;
  src: url("../Fonts/FreightSansBold.ttf");
}

h1 {
  font-family: 'Fsans';
  color: blue;
  text-decoration: none;
  /*  background-color: black;*/

  text-align: center;
}

@font-face {
  font-family: Aly;
  src: url("../Fonts/Aly.ttf");
}

h2 {
  font-family: 'Aly';
  color: blue;
  text-align: center
}

h1:hover {
  color: white;
}

h2:hover {
  color: red;
}
/*
h1home {
  font-family: Aly;
  color: white;
  text-decoration: none;
  background-color: black;
}

@font-face {
  font-family: Day;
  src: url(..Fonts/Day.ttf);
}

h2 {
  font-family: Day;
  background-color: black;
}
*/
/*End Header Text*/
/*Begin Header Logo*/

#logo {
  resize: both;
}

header {
  background-color: black;
  /*
  border-style: solid;
border-width: 5px;
border-color: blue;
*/

  background-image: url(../img/header1.png);
  background-repeat: no-repeat;
}

.logo1 {
  /*  background-color: black;*/

  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header.home img {
  width: 10%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*End Header Logo*/

h3 {
  color: white;
  font-family: Day;
  text-align: center;
}
/*Body Color*/

body {
  background-color: black;
  /*
  background-image: url(../img/body.png);
  background-repeat: no-repeat
*/
}
/*Footer Text*/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
  background-image: url(../img/footer%20bg.png);
  background-repeat: no-repeat;
}

.bottom {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/cartoonsmallg.png);
  background-repeat: no-repeat;
  background-size: 75% 75%;
}

.bottom:hover {
  background-image: url(../img/cartoonsmall.png);
}
/**********************
NAVIGATION
***********************/
/*
#buttons {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
}
*/

#buttons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 00;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
  text-decoration: none;
  color: cyan;
}
/*
@media only screen and (max-width: 767px) {
  .main_menu, #menu-wrap {
    display: block;
    width: 50%;
    text-align: center;
  }
}
*/
/*
#menu {
  font-size: 25px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: white;
  border: groove;
}
*/
/*Mobile View*/

@media only screen and (max-width: 600px) {
  #menu {
    text-align: center;
  }
  .nav > li {
    text-align: left;
  }
  .nav a {
    text-align: center;
  }
  .fancybox {
    /*
    padding-top: 0px;
width: 100%;
display: block;
*/

    margin-left: auto;
    margin-right: auto;
    display: inline;
  }
  #wrapper1 {
    width: 250px;
    margin: 0 auto;
    padding: 0 5%;
    background-color: black;
    /*  float: left;*/

    vertical-align: middle;
  }
  li img {
    width: auto;
    height: auto;
  }
  .gallery {
    padding-top: 0px;
    width: 500px;
    vertical-align: center;
  }
  #images {
    text-align: center;
    width: auto;
    height: auto;
  }
  #contact {
    width: 330px;
    height: 1300px;
    border: solid grey;
  }
  #resume {
    width: 330px;
    height: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*Images of sites*/

.port {
  height: 50%;
  width: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

#images {
  text-align: center;
}

a.port.hover {
  background: white;
}
/*The max-width is making gallery smaller*/

#wrapper1 {
  margin: 0px auto;
  padding: 100px;
  background-color: #000;
  width: 960px;
  height: 100%;
  width: auto;
}
/*
#wrapper1 {
  width: 500px;
  margin: 0 auto;
  padding: 0 5%;
  background-color: black;
    float: left;

  padding-top: 100px;
  width: 960px;
  display: inline-block;
}
*/

li img {
  width: 25%;
  height: auto;
}

.gallery {
  display: inline-block
}

#wrapper {
  width: 700px;
  margin: 0 auto;
  padding: 0 5%;
  background-color: black;
  float: left;
  padding-top: 100px;
  width: 960px;
  display: inline-block;
}
/*Portfolio/*/

.fancybox {
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

#contact {
  padding-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 900px;
  width: 800px;
}
/**********************
PAGE: PORTFOLIO
***********************


#portfolio {
  margin: 0;
  padding: 0;
  list-style: none;
}


#portfolio li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#portfolio li a p {
  margin: 0;
  padding: 2%
  font-size: 0.75em;
  color: #bdc3c7;
}
*/
/*.gallery
{ max-width: 1040px;
 margin: 0 auto;
 padding: 0 5%;
 background-color: black;
 float: left;

}*/
/*
body {
  background-image: url('../img/IMG_5097.JPG');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#resume {
  padding-top: 100px;
  width: 800px;
  height: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
